html {
  height: 100%;
}

body {
  background-color: $color-base-200;
  color: $color-base-900;
  font-family: $font-body;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
  padding: 1.5em;
  @include fadein;

  @media (max-width: $breakpoint-tablet) {
    padding: 1em;
  }
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  text-decoration: none;
  opacity: 1;
  color: $color-primary-400;

  &:hover {
    opacity: .7;
  }
}