html {
  height: 100%;
}

body {
  color: $color-base-900;
  font-family: $font-body;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
  min-height: 100%;

  @include fadein;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  text-decoration: none;
  opacity: 1;
  color: $color-primary-400;

  &:hover {
    opacity: .7;
  }
}