$color-base-100: hsl(0, 0%, 100%);
$color-base-200: hsl(0, 0%, 86%);
$color-base-300: hsl(0, 0%, 72%);
$color-base-400: hsl(0, 0%, 56%);
$color-base-700: hsl(0, 0%, 40%);
$color-base-800: hsl(0, 0%, 24%);
$color-base-900: hsl(0, 0%, 8%);

$color-primary: hsl(41, 100%, 52%);
$color-secondary: hsl(214, 93%, 63%);
