$color-base-100: hsl(221, 18%, 100%);
$color-base-200: hsl(221, 18%, 98%);
$color-base-300: hsl(221, 18%, 80%);
$color-base-400: hsl(221, 18%, 45%);
$color-base-700: hsl(221, 18%, 35%);
$color-base-800: hsl(221, 18%, 25%);
$color-base-900: hsl(221, 18%, 15%);

$color-primary-100: hsl(179, 50%, 90%);
$color-primary-300: hsl(179, 50%, 40%);
$color-primary-400: hsl(179, 50%, 40%);

$color-secondary-100: hsl(259, 60%, 96%);
$color-secondary-400: hsl(259, 60%, 60%);

$color-warning-100: hsl(43, 93%, 90%); 
