.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 3em;
  border-radius: 1em;
  max-width: 60em;

  @media (max-width: $breakpoint-tablet) {
    padding: 2em;
  }
}

.wrap {
  max-width: 80em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5em;

  @include shadow-sm;
}

.logo {
  font-size: 1.5em;
  font-weight: 600;
  color: $color-secondary-400;
  cursor: default;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.hero {
  &__text {
    font-size: 1.25rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em;
  margin-top: 1em;
  background-color: $color-base-200;

  @media (max-width: $breakpoint-tablet) {
    padding: 2em;
  }

  &__links {
    display: flex;
    gap: 1.5em;

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    text-align: center;
    color: $color-base-300;
  }
}

.projects {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  gap: 2em;

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: 1fr;
  }
}

.project {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  border-radius: .5em;
  background-color: $color-base-100;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;

  @include shadow-md;

  &:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: .5em;
    aspect-ratio: 16/9;
    background-color: $color-base-200;
    border: 2px solid $color-base-200;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__description {
    flex: 1;
    margin-bottom: 2em;
  }
}

.button {
  @include button-reset;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .75em;
  padding: 1em;
  height: 3em;
  border-radius: .375em;
  background-color: $color-primary-400;
  color: $color-base-100;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.2s ease-in-out;

  &_fluid{
    width: 100%;
  }
  
  &:hover {
    background-color: darken($color-primary-400, 10%);
    cursor: pointer;
  }
  
  &:active {
    background-color: lighten($color-primary-400, 10%);
  }
  
  &:disabled {
    background-color: $color-base-400;
    color: $color-base-700;
    cursor: not-allowed;
  }

  &_secondary {
    background-color: $color-secondary-400;

    &:hover {
      background-color: darken($color-secondary-400, 10%);
      cursor: pointer;
    }
  }
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  border-radius: .5em;
  max-width: 32em;
  background-color: rgba($color-base-100, .25);

  @include shadow-md;

  @media (max-width: $breakpoint-tablet) {
    padding: 2em;
  }

  &__title {
    margin-bottom: 0.5em;
  }

  &__text {
    margin-bottom: 1em;
  }

  &__form {
    display: flex;
    gap: 1.25em;
    margin-top: 1em;
    width: 100%;

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
    }
  }

  &__input {
    flex: 1;
    padding: 1em;
    border: 1px solid $color-base-300;
    border-radius: .5em;
    font-size: 1rem;
    height: 1.25em;

    &::placeholder {
      color: $color-base-300;
    }
  }

  @media (max-width: 600px) {
    text-align: left;
  }
}


// Utility classes
.marked {
  background-color: $color-warning-100;
  padding: .25em;
}

.centered {
  text-align: center;
}

.background {
  background: linear-gradient(rgb(white,0.3), rgb(white,0.3)), url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}