.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 4em 3em;
  background-color: $color-base-100;
  border-radius: 1em;
}

.wrap {
  max-width: 80em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  text-align: center;
}

.logo {
  margin-bottom: 2em;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 2em;

  &__links {
    display: flex;
    gap: 1em;
  }

  &__text {
    text-align: center;
    color: $color-base-300;
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;

  @media (max-width: $breakpoint-tablet) {
    grid-template-columns: 1fr;
  }
}

.project {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.5em;
  border-radius: .5em;
  background-color: $color-base-100;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: .5em;
    aspect-ratio: 3/2;
    background-color: $color-base-200;
    filter: brightness(98%);
    overflow: hidden;
  }

  &__title {
    font-size: 1.5em;
    font-weight: bold;
  }

  &__description {
    opacity: .7;
  }
}

.button {
  @include button-reset;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: .75em;

  height: 64px;
  padding: 0 2em;
  border-radius: .5em;
  background-color: $color-primary-400;
  color: $color-base-100;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.2s ease-in-out;

  &_icon {
    padding-left: 1.75em;
  }
  
  &:hover {
    background-color: darken($color-primary-400, 10%);
    cursor: pointer;
  }
  
  &:active {
    background-color: lighten($color-primary-400, 10%);
  }
  
  &:disabled {
    background-color: $color-base-400;
    color: $color-base-700;
    cursor: not-allowed;
  }
}

.marked {
  background-color: $color-warning-100;
  padding: .25em;
}