@import "breakpoints";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1em;

  @media (max-width: $breakpoint-tablet) {
    font-size: 2.25rem;
  }
}

h2 {
  font-size: 2.25rem;
  margin-bottom: .25em;

  @media (max-width: $breakpoint-tablet) {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.5rem;
}

p {
  margin: 1em 0;
}

small {
  font-size: 1rem;
}
